body {
  @include flexCenter;
  flex-direction: column;
  background-color: $light-grayish-blue;
}

.container {
  margin-top: auto;
  background-color: white;
  border-radius: 10px;
  width: calc(100% - 48px);
  @include flexCenter;
  flex-direction: column;
  @include _480 {
    max-width: 432px;
  }
  @include _768 {
    flex-direction: row;
    justify-content: space-between;
    max-height: 280px;
    max-width: 732px;
  }
  .main-section {
    @include flexCenter;
    flex-direction: column;
    width: 100%;
  }
}
