@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

$main-font: "Manrope", sans-serif;
$secondary-font: roboto, sans-serif;
$main-color: #0a0a0a;
$secondary-color: #fafafa;
$tertiary-color: grey;

$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
