.graphic {
  height: 200px;
  width: 100%;
  background-image: url(/images/drawers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include _768 {
    width: 50%;
    height: 100vw;
    max-height: 280px;
    max-width: 287px;
    border-radius: 10px 0 0 10px;
  }
}
